.relative{
    position: relative;
    width: 100%;
}
.bg-smart-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 180px 0;
}
.bg-smart{
    background: url(../img/flat-img/backgrounds/smart-object-3.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.custom-pd-col{
    padding: 15px;
}

/* HEADER STYLE */
.main-header{
    padding: 20px 0;
}
.brand-img img{
    width: 180px;
    height: 70px;
    object-fit: cover;
}
.navbar{
    flex-flow: row nowrap;
}
.navigation{
    display: inline-block;
}
.navigation li{
    list-style: none;
    display: inline-block;
    padding: 2px 20px;
}
.navigation li a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: #eee;
    transition: .4s all ease-out;
    position: relative;
    padding: 7px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.navigation li a:hover{
    color: #fff;
}
.navigation li a .fas{
    margin-left: 7px;
}
/* END HEADER STYLE */

/* SECTION BANNER STYLE */
.section-banner{
    position: relative;
}
.hero{
    margin-top: 45px;
}
.big-title{
    color: #eee;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .4s ease-in-out;
}
.thumb-btn{
    margin-top: 35px;
}
.banner-images{
    background: url(../img/Layer\ 15.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 400px;
    object-fit: cover;
}
.distance-banner{
    margin-bottom: 140px;
}
/* END SECTION BANNER STYLE */

/* SECTION SEARCH STYLE */
.search-form{
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
}
.form-control.search{
    border: none;
    font-family: "Montserrat-SB";
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    height: 45px;
    width: 80%;
    letter-spacing: .5px;
    color: #333333;
}
.form-control.search::placeholder{
    color: #ddd;
}
.btn.btn-theme.search{
    width: 19%;
    padding: 14px;
}

.distance-search-engine{
    margin-bottom: 100px;
}
/* END SECTION SEARCH STYLE */


/* SECTION BENEFIT STYLE */
.section-header h1{
    color: #eee;
    letter-spacing: 1px;
    font-size: 33px;
    text-transform: uppercase;
}
.benefits{
    margin-top: 55px;
}
.benefit h3{
    text-transform: uppercase;
    color: #eee;
    font-size: 16px;
    font-family: "Montserrat-B";
    font-weight: 800;
}
.benefit-flat-img{
    width: 60px;
    height: 60px;
}
.benefit-flat-img.earth{
    background: url(../img/flat-img/icons/Earth.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-flat-img.people{
    background: url(../img/flat-img/icons/People.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-flat-img.trusted{
    background: url(../img/flat-img/icons/Trusted.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-flat-img.plane{
    background: url(../img/flat-img/icons/Plane.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.distance-benefit{
    margin-bottom: 120px;
}
/* END SECTION BENEFIT STYLE */

/* ABOUT US */
.box-about-us{
    padding: 40px;
    background-color: #042e6f;
}
/* END ABOUT US */

/* SECTION PAKET */
.paket-category{
    margin: 50px 0;
}
.paket-category-btn{
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #eee;
    color: #042e6f;
    font-family: "Oswald-VF";
    font-weight: 900;
    font-size: 22px;
    padding: 5px 0;
    width: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s all ease-out;
}
.paket-category-btn:hover{
    background-color: #fff;
}
.paket-category-btn.active{
    background-color: #f0851a;
    color: #fff;
}
/* END SECTION PAKET */

/* SECTION NEWS */
.title-card{
    color: #042e6f;
    font-family: "Montserrat-R";
    font-size: 16px;
}
.news-card{
    margin: 50px 0;
    position: relative;
}
.card.news{
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);
}
.text-card{
    color: #7f7f7f;
    font-size: 13px;
    font-weight: 600;
}
.prev-btn{
    background-color: #f0851a;
    color: #fff;
    padding: 8px 15px;
    border-radius: 50%;
}
.prev-btn.news{
    position: absolute;
    top: 180px;
    left: -20px;
}
.next-btn{
    background-color: #f0851a;
    color: #fff;
    padding: 8px 15px;
    border-radius: 50%;
}
.next-btn.news{
    position: absolute;
    top: 180px;
    right: -20px;
}
/* END SECTION NEWS */

/* SECTION TESTIMONI */
.testimoni{
    background-color: #e8e8e8;
    position: relative;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.testimoni-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.testimoni-content .p{
    color: #8b8b8c;
}
.testimoni-img-content{
    position: absolute;
    bottom: -50px;
}
.testimoni-img-content img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
/* END SECTION TESTIMONI */

/* SECTION MITRA */
.mitra{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.mitra-wrap{
    width: calc(100%/12*2.5);
	padding: 10px 25px;
}
.mitra-logo{
    width: 100%;
}
.mitra-logo img{
    width: 100%;
}
/* END SECTION MITRA */