/* arminareka web custom stylesheet */

/* import necessary fonts */
@font-face{
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf');
}

@font-face{
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald/static/Oswald-Bold.ttf');
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face{
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
}

h1{
    font-family: 'Oswald-Bold';
}

body{
    background-color: #052E70;
}

.container{
    max-width: 1100px;
    margin:0 auto;
}

nav{
    background-color: #052E70;
}

img.nav-logo{
    height: 3.5rem;
}

.nav-container{
    margin: 0 auto;
}

a.nav-link{
    text-transform: uppercase;
    font-family: 'Oswald-Bold', sans-serif;
    letter-spacing: .05em;
    font-size: .9em;
}


section.hero, section.hero div{
    height: 430px;
}

div.hero-desc{
    padding-right: 2.5rem;
    padding-top: 5.3rem;
}

div.hero-picture{
    width: 700px;
    height: 400px;
    object-fit: cover;
    right: 0;
}
div.hero-picture img{
    max-width:none;
    width: 100%;
    height: 100%;
}

h1.hero-title{
    line-height: 1.3em;
}

p.hero-description{
    font-family: 'Montserrat-Regular';
    font-size: 1.1em;
    padding-bottom: 3.4rem;
}
p.theme-description{
    font-family: 'Montserrat-Regular';
    font-size: 1.1em;
    padding-bottom: 3.4rem;
}

section.posts{
    margin-top: 5rem;
}

input{
    outline: none;
    font-weight: 550;
}
input::placeholder{
    font-weight: 550;
}

input.input-search{
    padding: 7px 5px;
}

a.search-category{
    padding: 5px 15px;
}

form.form-search-category{
    position: relative;
}

form.form-search-category input[type="text"]{
    width: calc(100% - 100px);
}

a.btn-search{
    position: absolute;
    top: 0;
    right: 12px;
    margin-top: 11px;
    padding: 5px 25px;
}
button.btn-search{
    position: absolute;
    top: 0;
    right: 12px;
    margin-top: 11px;
    padding: 5px 25px;
}

div.card{
    padding: 2.5rem 2.4rem;
    border-radius: 2.5rem;
}

.card-round{
    border-radius: 2.5rem;
}

h3.card-title{
    font-family: 'Montserrat-Bold';
}

a.card-link{
    font-family: 'Montserrat-SemiBold';
}

.text-montserrat{
    font-family: 'Montserrat-Regular';
}

.text-montserrat-semibold{
    font-family: 'Montserrat-SemiBold';
}

.text-montserrat-bold{
    font-family: 'Montserrat-Bold';
}

.text-oswald{
    font-family: 'Oswald-Regular';
}

.text-oswald-bold{
    font-family: 'Oswald-Bold';
}

.mt-9{
    margin-top: 2.25rem;
}

.mt-10{
    margin-top: 2.5rem;
}

.mt-11{
    margin-top: 2.75rem;
}

.mt-12{
    margin-top: 3rem;
}

.paragraph{
    line-height: 1.3rem;
}

a.pagination-link{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.pagination-link:not(:first-child){
    margin-left: 10px;
}

footer{
    border-top: 5px solid #fff;
    background-color: #f0851a;
}

div.footer-top{
    border-bottom: 3px solid #fff;
}

div.category-separator{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}

.category-separator span.bar{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.3);
}
@media only screen and (max-width: 1280px){
    .container{
        max-width: 900px;
    }
}

@media only screen and (max-width: 950px){
    .container{
        max-width: 750px;
    }
}

@media only screen and (max-width: 780px){
    .container{
        max-width: 650px;
    }
    .box-about-us{
        padding: 0;
    }
}

@media only screen and (max-width: 690px){
    .container{
        max-width: 500px;
    }

    .posts-category{
        width: 100% !important;
    }

    .posts-news{
        width: 100% !important;
    }
}

@media only screen and (max-width: 638px){
    div.hero-desc{
        padding-right: 0;
    }

    .container{
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}




.bg-smart-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 400px 0;
}
.bg-smart{
    background: url(../img/smart.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.box-about-us{
    height: 550px;
    padding: 3.5rem !important;
}

.bg-theme{
    background-color: #052E70;
}

.text-grey-h{
    color: #eee;
}
.text-grey-p{
    color: #ddd;
}
.benefit-img{
    width: 60px;
    height: 60px;
}
.benefit-img.earth{
    background: url(../img/icons/Earth.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-img.people{
    background: url(../img/icons/People.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-img.trusted{
    background: url(../img/icons/Trusted.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.benefit-img.plane{
    background: url(../img/icons/Plane.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.paket-category-btn{
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #eee;
    color: #042e6f;
    font-weight: 900;
    font-family: 'Oswald-Regular';
    font-size: 20px;
    padding: 5px 0;
    width: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s all ease-out;
}
.paket-category-btn:hover{
    background-color: #fff;
}
.paket-category-btn.active{
    background-color: #f0851a;
    color: #fff;
}

.mitra-img{
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.mitra-img.bca{
    background-image: url(../img/mitra/bca.png);
}
.mitra-img.mandiri{
    background-image: url(../img/mitra/mandiri.png);
}
.mitra-img.mandiri-syariah{
    background-image: url(../img/mitra/mandiri-syariah.png);
}
.mitra-img.bni{
    background-image: url(../img/mitra/bni.png);
}
.mitra-img.bri{
    background-image: url(../img/mitra/bri.png);
}

.testimoni-text-p{
    color: #999;
    font-family: 'Montserrat-Regular';
}
.testimoni-img-people{
    position: absolute;
    bottom: -40px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimoni-img-people img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.next-prev-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute-wrapper{
    position: absolute;
    top: 35%;
}
.absolute-wrapper.prev{
    left: 0px;
}
.absolute-wrapper.next{
    right: -10px;
}

.border-radius-flat{
    border-radius: 0 !important;
}

.card-header.paket{
    left: -20px;
    right: -20px;
    top: 20px;
    background-image: url(../img/card/blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 114%;
    height: 240px;
}
.card-header.paket.blue{
    background-image: url(../img/card/blue.png);
}
.card-header.paket.red{
    background-image: url(../img/card/red.png);
}
.hotel-star{
    color: #f0851a;
    font-size: 12px;
}
.border-right-line{
    border-right: 2px solid #ddd;
    padding-right: 3px;
}
.border-right-line-thin{
    border-right: 1px solid #ddd;
    padding-right: 3px;
}
.mt--10{
    margin-top: -10px;
}
.mx--30{
    margin: 0 -100px;
}
@media screen and (max-width: 1300px){
    div.hero-picture{
        width: 600px;
    }
}
@media screen and (max-width: 1200px){
    div.hero-picture{
        width: 500px;
    }
}
@media only screen and (max-width: 780px){
    .box-about-us{
        padding: 0 !important;
    }
    .mx--30{
        margin: 0 -10px;
    }
    .mitra-img{
        width: 80px;
        height: 50px;
    }
}